* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#calculator {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;

  height: 700px;
  width: 500px;
  padding: 25px;

  border: 10px solid rgb(76, 173, 190);
  border-radius: 15px;
  background-color: rgb(243, 220, 171);

  /* main calculator body shadows */
  box-shadow: 4px 4px 5px 1px rgb(59, 130, 143),
    10px 10px 10px 2px rgb(204, 204, 204),
    inset -2px -2px 5px 1px rgba(70, 59, 36, 0.596),
    inset -6px -6px 1px 1px rgba(179, 161, 125, 0);
  /* box-shadow: 5px 5px 50px 10px rgba(190, 198, 199, 0.781); */
}

#display {
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: rgb(143, 148, 129);

  /* main display shadows */
  box-shadow: inset 2px 2px 1px rgb(201, 190, 166),
    inset 4px 4px 5px rgba(0, 0, 0, 0.534),
    inset 8px 8px 20px rgba(0, 0, 0, 0.2);
}

#numbers-wrapper {
  grid-column: 1/-1;
  grid-row: 2/7;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 10px;
}

/*buttons style */

button {
  font-size: xx-large;

  border-radius: 10px;
}

/* equal button position  */

button:last-child {
  grid-column: 3/-1;
}

/* button colors */

.numbers {
  color: beige;
  background-color: rgb(36, 30, 30);
}
.operators {
  color: beige;
  background-color: darkorange;
  border: 5px outset rgba(255, 255, 255, 0.233);
  /*sss effect */
  box-shadow: inset 0px 0px 15px 2px rgba(255, 187, 0, 0.644);
}
.utilities {
  color: beige;
  border: 5px outset rgba(255, 255, 255, 0.233);
  background-color: rgb(209, 62, 51);
  /*sss effect */
  box-shadow: inset 0px 0px 15px 2px rgba(255, 143, 79, 0.644);
}
