* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

#calc-container {
  width: 450px;
  height: 550px;
  padding: 5px;
  background-color: lightgray;

  /* css Grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

#calc-display-container {
  display: grid;
}

.display {
  background-color: lightslategrey;
  padding: 5px;
  display: grid;
  justify-content: end;
  align-content: center;
}
.display-text {
  font-size: 49px;
}

#calc-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 2px;
  column-gap: 2px;
}

/*cell selector */
button:nth-child(n + 17):nth-child(-n + 17) {
  grid-column: 1 / 3;
}

button {
  border: 0px;
  font-size: 25px;
}
